CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_xiaomi_miwifi-mini=y
CONFIG_PACKAGE_luci-theme-argon-dark-new=m
CONFIG_PACKAGE_luci-theme-argon_new=m
CONFIG_PACKAGE_luci-theme-atmaterial=m
CONFIG_PACKAGE_luci-theme-opentomato=m
CONFIG_PACKAGE_luci-theme-opentomcat=m
